.header {
  background-color: white;
  padding: 1.25rem 0;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  border: 1px solid rgb(241,244,246);
  color: black;

}


#web-title{
  color: black;
  font-size: 20px;
  text-decoration: none;
}



.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 1.25rem;
  align-items: center;
  display: flex;
  justify-content: center;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 55rem; */
}

.logo-title{
  display: flex;
  align-items: center;
  gap: 10px;
  color: black;
  
}

.logo-title h1 {
  text-decoration: none;
}

.logo img {
  height: 2.5rem;
  width: auto;
}

.navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navigation ul li {
  margin-left: 1.25rem;
}

.navigation ul li:first-child {
  margin-left: 0;
}

.navigation ul li a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  transition: color 0.3s ease;
}

.navigation ul li a:hover {
  color: rgb(31, 57, 39);
}