.blog-area {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: linear-gradient(to bottom, #171717, #4A9F04 );
    align-items: center;
    margin-top: 4rem;
    border-radius: 2rem;
  }
  
  .add-post-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  body
  {
    background-image: url('../styles/Images/GreenBull.jpeg');
    background-size: cover;
    background-position: center;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  .form-label {
    color: white;
    margin-bottom: 5px;
    font-weight: bold;
  }
  h2
  {
    color: white;
  }
  .form-input,
  .form-textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-width: 100%;
    width: 36rem;
  }
  
  .form-textarea {
    resize: vertical;
    height: 150px;
  }
  
  .submit-btn {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1rem;
  }
  
  .submit-btn:hover {
    background-color: #0056b3;
  }
  
  .message {
    color: #313431;
    font-weight: bold;
  }
  
  .form-input:invalid,
  .form-textarea:invalid {
    border-color: red;
  }
  .form-input:invalid,
  .form-textarea:valid {
    border-color: #4a9f04;
  }
  .view-all-btn{
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    font-size: 1rem;
  }
  
  .submit-btn:hover {
    background-color: #0056b3;
  }
  