@import 'https://fonts.googleapis.com/css?family=Open+Sans:600,700';

* {
  font-family: Inter,-apple-system,BlinkMacSystemFont,segoe ui,Roboto,Helvetica,Arial,sans-serif;
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

*::-webkit-scrollbar {
  display: none;
}

.amk{
  height: 100vh;
}

.chart-scrollable-container{
  display: flex;
  flex-direction: column;
}


.list-name{
  color: gray;
  font-weight: bold;
  position: absolute;
  max-height: 10px;
  margin-left: 20px;
}

.list-name p{
  font-size: 15px;
}
.list-crypto-flex{
  display: flex;
  align-items: center;
  gap: 2px;
}

.list-name p:hover{
  color: rgb(32, 64, 60);
  transition: ease-in-out 0.5s;
  border-bottom: 2px solid rgb(32, 64, 60);
}

.chart{
  margin-top: 80px;
  /* border: 1px solid rgb(241,244,246); */
}

.tooltip-container {
  background-color: #ffffff;
  border-radius: 4px;
  padding: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}
.flex-title{
  display: flex;
  align-items: center;
  gap: 5px;

}
.tooltip-title {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 4px;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: space-between;
}

.tooltip-price {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 4px;
}

.tooltip-ohlc {
  font-size: 12px;
  color: #666666;
}

.tooltip-date {
  font-size: 12px;
  color: #666666;
}

.table-header{
  font-size: 14px;
  color: gray;
  position: sticky;
}

.short{
  display: none;
}
.crypto{
  overflow-y: auto;
  margin-top: 50px;
  max-height: 90%;
  -ms-overflow-style: none; 
  scrollbar-width: none; 
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  font-size: 14px;
}

.crypto::-webkit-scrollbar {
  display: none;
}

.rwd-table1 {
  margin: auto;
  max-width: 90%;
  height: 100%;
  border-collapse: collapse;
}

#all_list{
  width: 30px;
}


.stat{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.logoooo{
  opacity: 0.1;
  position: absolute;
  margin-left: 250px;
  z-index: 1;

}
.ohlc{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 4;
  color: black;
  font-weight: bold;
  margin-left: 40px;
  margin-bottom: 200px;
  margin-top: 60px;
  gap: 30px;
}

.chart-name{
  position: absolute;
  color: rgb(169,175,187);
  font-weight: bold;
  margin-bottom: 130px;
  margin-top: 20px;
  margin-left: 420px;
  width: 50%;
  display: flex;
  gap: 20px;
  z-index: 15;
  border-bottom: 2px solid rgb(205, 206, 207);
}
.chart-name p{
  font-size: 15px;
}

.chart-name p:hover{
  color: rgb(32, 64, 60);
  transition: ease-in-out 0.5s;
  border-bottom: 2px solid rgb(32, 64, 60);
}


/* .empty-area{
  height: 200px;
  width: 1100px;
  background: linear-gradient(to top, rgba(14,23,19, 1), rgba(16,23,20, 1));
  position: absolute;
  margin-left: 290px;
  margin-top: 703px;
  z-index: 5;
  display: flex;
  border: 1px solid rgb(34,34,34);

} */

.about-crypto{
  width: 100%;
}

.list-crypto{
  width: 100%;
}

.volume-info{
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
  color: black;
  gap: 5px;

}

.crypto-stats-container {
  display: flex;
  flex-wrap: wrap;
}

.progress-thing{
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 10px; */
  
}
.progress-bar {
  width: 300px;
  height: 5px;
  background-color: #e0e0e0;
  overflow: hidden;
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
}

.rwd-table1 .name-column {
  width: 10px;
}

.progress {
  height: 100%;
  background-color: #4caf50;
  position: absolute;
  top: 0;
  left: 0;
  transition: width 0.3s ease-in-out;
}

.wrapper-details{
  display: flex;
  flex-direction: column;
  margin: 20px;
  height: 370px;
  /* justify-content: center; */
  align-items: center;
  gap: 10px;
  border-bottom: 2px solid rgb(241,244,246);
}

.sticky {
  top: 0;
  z-index: 10;
  max-height: 340px; /* Adjust the height as needed */
  overflow-y: auto;
  overflow-x: scrollable;
}

.header-element{
  width: 350px;
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: rgb(241,244,246);
  justify-content: center;
  padding: 5px;
  height: 40px;
  border-radius: 10px;
  font-size: 14px;
}

#buy{
  margin-right: 10px;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  background-color: white;
  background-size: 100% 10px;
  width: 100%;
}

.details-label{
  display: flex;
  gap: 120px;
  align-items: center;
  color: black;
  margin-bottom: 5px;
}

#tk{
  margin-top: 20px;
  margin-bottom: 10px;
}

.total-spent{
  /* display: flex; */
  flex-direction: column;
  background-color: rgb(241,244,246);
  height: 70px;
  border-radius: 10px;
}

.total-label{
  height: 10px;
  margin-top: 15px;
}

.total-spent p:nth-child(1){
  font-size: 14px;
  color: rgb(169,175,187);
  font-weight: bold;
  margin-left: 20px;
  margin-top: 10px;
  position: absolute; 
}
.total-spent p:nth-child(2){
  font-size: 23px;
  color: black;
  font-weight: bold;
  position: absolute;
  margin-left: 20px;
  margin-top: 30px;
}

#sell{
  margin-right: 10px;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  /* background-color: #c0bfbf; */
  background-size: 100% 10px;
  width: 100%;
}

.realtime-label{
  display: flex;
  gap: 5px;
  align-items: center;
  margin-bottom: 0px;
  height: 10px;
}

.buy-button{
  width: 340px;
  margin-top: 10px;
  height: 40px;
  background-color: #4caf50;
  border-radius: 10px;
  border: none;
  color: white;
}

.buy-button:hover{
  background-color: #398f3c;
  transition: ease-in-out 0.5s;
}

.detail-input{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.input-group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: space-between;
}

.input-label {
  /* font-weight: bold; */
  font-size: 14px;
  color: black; /* Adjust the color as needed */
}

.input-field {
  padding: 0.5rem;
  border: 2px solid rgb(241,244,246);
  border-radius: 4px;

  /* color: #fff; */
  -webkit-appearance: none;
  width: 100%;
}

.input-field::placeholder {
  color: black;
  font-weight: bold; /* Change the color to your desired value */
}

.input-field:focus {
  outline: none;
  border-color: #45e5cb; /* Adjust the focus border color as needed */
  box-shadow: 0 0 5px rgba(69, 229, 203, 0.5); /* Adjust the focus box-shadow as needed */
}

.crypto-stats-details{
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  height: 60px;
  font-size: 12px;
  /* padding: 10px; */
  /* background-color: #1a1a1a; */
  border-radius: 4px;
  
}

.hey {
  margin-left: 20px;
  margin-right: 20px;
  border: 1px solid rgb(241,244,246);
}

.stat-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.crypto-stats-details p{
  font-size: 14px;
}

.crypto_name{
  display: flex;
  gap: 5px;
  align-items: center;
  max-height: 10px;
  margin-top: 30px;
  margin-left: 20px;
  font-size: 20px;
}

.real-time{
  font-size: 32px;
  margin-left: 20px;
  color: black;
}

.crypto-name{
  font-weight: bold;
}

.crypto-symbol{
  font-size: 16px;
  color: gray;
}

.right{
  height: 550px;
  overflow: hidden;
  border-bottom: 2px solid rgb(241,244,246);
}

.crypto-details {
  background-color: rgba(23, 23, 23, 1);
  background: transparent;
  height: 900px;
  color: black;
  width: 380px;
  border-right: 1px solid rgb(241,244,246);
  border-bottom: 1px solid rgb(241,244,246);
  border-left: 1px solid rgb(241,244,246);
  overflow: hidden;
}

.crypto-details1 {
  font-family: Arial, sans-serif;
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.crypto-details1 h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.crypto-details1 p {
  font-size: 18px;
  margin-bottom: 20px;
  color: rgb(169,175,187)
}

.crypto-details1 div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.crypto-details1 span {
  font-size: 14px;
}

.crypto-details1 span:nth-child(1) {
  font-weight: bold;
}

.crypto-details1 span:nth-child(2) {
  color: #888;
}

.crypto-details1 span:nth-child(3) {
  font-weight: bold;
  color: #888;
}

.crypto-details1 div:last-child {
  margin-bottom: 0;
}

.chart-layout{
  height: 901px;
  border-bottom: 1px solid rgb(241,244,246);
}

.chart-container{
  margin: 50px;
  /* border: 1px solid black; */
}

.trading-area{
  display: flex;
  /* background: linear-gradient(to bottom, rgba(23, 23, 23, 1), rgba(23, 48, 35, 0.5)); */
  background-color: white;

}

.rwd-table1 tr:first-child {
  /* background: rgb(82,112,106); */
  color: black;
}

.rwd-table1 tr {
  border-bottom: 1px solid rgb(241,244,246); 
  background-color: transparent;
  color: black;
}

.rwd-table1 tr:nth-child(odd):not(:first-child) {
  background-color: transparent;
}

.rwd-table1 th {
  display: none;
}

.rwd-table1 td {
  display: block;
}

.rwd-table1 td:first-child {
  margin-top: .5em;
}

.rwd-table1 td:last-child {
  margin-bottom: .5em;
}

.rwd-table1 td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 80px;
  display: inline-block;
  color: #000;
}

.rwd-table1 th,
.rwd-table1 td {
  text-align: left;
}

.rwd-table1 {
  /* border-radius: .4em; */
  overflow: hidden;
}

.rwd-table1 tr {
  border-color: #bfbfbf;
}

.rwd-table1 th,
.rwd-table1 td {
  padding: .5em 1em;
}
@media screen and (max-width: 601px) {
  .rwd-table tr:nth-child(2) {
    border-top: none;
  }
}
@media screen and (min-width: 600px) {
  .rwd-table1 tr:hover:not(:first-child) {
    background-color: #d8e7f3;
  }
  .rwd-table1 td:before {
    display: none;
  }
  .rwd-table1 th,
  .rwd-table1 td {
    display: table-cell;
    padding: .25em .5em;
  }
  .rwd-table1 th:first-child,
  .rwd-table1 td:first-child {
    padding-left: 0;
  }
  .rwd-table1 th:last-child,
  .rwd-table1 td:last-child {
    padding-right: 0;
  }
  .rwd-table1 th,
  .rwd-table1 td {
    padding: 1em !important;
  }
}


/* THE END OF THE IMPORTANT STUFF */

/* Basic Styling */
body {
/* background: rgb(82,112,106); */
background: rgb(0, 0, 0);
    
}
h1, h2 {
  text-align: center;
  font-size: 1.5em;
  color: #f2f2f2;
}
.container {
  display: block;
  text-align: center;
}
h3 {
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 1.5em;
  color: #cecece;
}
h3:before {
  content: "\25C0";
  position: absolute;
  left: -50px;
  -webkit-animation: leftRight 2s linear infinite;
  animation: leftRight 2s linear infinite;
}
h3:after {
  content: "\25b6";
  position: absolute;
  right: -50px;
  -webkit-animation: leftRight 2s linear infinite reverse;
  animation: leftRight 2s linear infinite reverse;
}
@-webkit-keyframes leftRight {
  0%    { -webkit-transform: translateX(0)}
  25%   { -webkit-transform: translateX(-10px)}
  75%   { -webkit-transform: translateX(10px)}
  100%  { -webkit-transform: translateX(0)}
}
@keyframes leftRight {
  0%    { transform: translateX(0)}
  25%   { transform: translateX(-10px)}
  75%   { transform: translateX(10px)}
  100%  { transform: translateX(0)}
}


.trading-area{
  display: flex;
  justify-content: space-between;
  /* border: 2px solid rgb(241,244,246); */
}