/* TutorialBox.css */
body {
    font-family: Arial, sans-serif;
}
.tutorial-box {
    border: 2px solid #007bff;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}
.next-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #073e18;
    color: rgb(254, 251, 251);
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    margin-top: 20px;
}
.back-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #073e18;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    margin-top: 20px;
}
.center-image {
    display: block;
    margin: 20px auto;
    max-width: 100%;
}
